body {
    background-color: rgb(219, 219, 219);
}

.row {
    margin: 20px auto auto 20px;
}

p {
   font-size: 30px;
}

.allgifs {
    float: left;
    width: 30%;
}

.add {
    font-size: 30px;
    margin-bottom: 0px;
}
#newAnimalsInput {
    margin-top: 5px;
}